<!-- layout file setting scripts and style sheets -->
<!-- i am using halfmoon css and jquery -->

<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Video Call</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>
<hr>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row">
                <a href="/" class="col-2 row justify-content-center">
                    <p>Home</p>
                </a>
                <a href="/transcript" class="col-2 row justify-content-center">
                    <p>My Transcripts</p>
                </a>
                <a href="/api" class="col-2 row justify-content-center">
                    <p>API Acess</p>
                </a>
            </div>
        </div>
    </div>
</div>
<hr>